/* Global Styling */

h1 {
  font-size: 5em;
  font-family: 'Barlow Condensed', sans-serif;
  color: white;
  text-transform: uppercase;
  margin-bottom: 0;
}

h2 {
  font-size: 3em;
  font-family: 'Barlow Condensed', sans-serif;
  color: white;
  margin-bottom: 0;
}

h3 {
  font-size: 1.5em;
  font-family: sans-serif;
  color: white;
  margin-bottom: 0;
}

p {
  color: black;
  font-family: sans-serif;
  font-size: 1.2em;
  margin: .5em;
}
body {
  background-image: url('./images/branding/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #00D9FF;
}

.wrap {
  background-color: #FE00F7;
  max-width: 1000px;
  margin: auto;
  background-image: url('./images/branding/grid.png');
  background-size: contain;
  padding: 1em;
  border-radius: 50px;
}

.textBox {
  background-color: white;
  border-radius: 20px;
  padding: 1em;
  margin: 1em;
}


/* Mobile Sizing */

@media screen and (max-width: 420px) {

}