/* Global Styling */

.App {
  margin: auto;
  text-align: center;
}

a {
  text-decoration: none;
}


h1 {
  font-size: 5em;
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 3em;
  font-family: 'Barlow Condensed', sans-serif;
  margin: .2em;
}

h3 {
  font-size: 1.5em;
  font-family: sans-serif;
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
}

p {
  color: black;
  font-family: sans-serif;
  font-size: 1.2em;
  margin: .5em;
}
body {
  background-image: url('../public/images/branding/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #00D9FF;
}

.wrap {
  background-color: #FE00F7;
  max-width: 1000px;
  margin: auto;
  background-image: url('../public/images/branding/grid.png');
  background-size: cover 100%;
  padding: 1em;
  border-radius: 50px;
  text-align: center;
}

.textBox {
  background-color: white;
  border-radius: 20px;
  padding: 1em;
  margin: auto;
  max-width: 600px;
}

#active {
  display: block;
}

#inActive {
  display: none;
}

/* Navbar */

.nav-logo {
  margin: auto;
  text-align: center;
}

.nav-logo img {
  width: 400px;
}

.nav {
  position: static;
  width: 100%;
  margin-bottom: 20px;
}

.nav-content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin: .2em .5em;
  background-color: magenta;
  padding: 0.2em 1em;
  border-radius: 30px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.2em;
  border: solid;
}

.login {
  background-color: white;
}

.login:hover {
  background-color: black!important;
  color: white!important;
}

.login:active {
  background-color:#FE00F7!important;
}

.nav-item:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: #00D9FF;
}

.nav-item:visited {
  text-decoration: none;
  color: black;
}

.nav-items {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/* Home Page */

.gameGenre {
  background-color:white;
  max-width: 500px;
  color: black;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border: solid;
}

.gameGenre:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.gameGenre:active {
  background-color: magenta;
  color: black;
}

.genreLink {
  color: black;

}
.genreLink:hover {
  color: white;
  
}

.genreList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: auto;
}
/* Login Page */

#login-form {
  background-image: linear-gradient(blue 20%, #00D9FF 80%);
  border: solid;
  padding: 1em;
  border-radius: 20px;
  border-color: white;
  max-width: 300px;
  margin: 1em auto;
}
.controls {
  font-size: 1.5em;
  color: white;
}

.form-submit {
  margin: .5em;
}

.new-user:hover {
  color:#ffffff;
}
.new-user:active {
  color:#FE00F7;
}
/* Buttons */
.button {
  background-color: #ffffff;
  border: solid;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 0em 1em;
}

.askButton {
  max-width: 900px;
  padding: 0 5em;
  border-radius: 15px;
  font-size: 2.2em;
  text-transform: uppercase;
  border: solid;
  background-color: white;
  font-family: 'Barlow Condensed', sans-serif;
}

.askButton:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #000;
}

.askButton:active {
  background-color: #FE00F7;
  color: white;
}


.button:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #000;
}

.button:active {
  background-color: #FE00F7;
  color: white;
}


/* Ask Question Form */
#ask-question-form {
  /* background-image: linear-gradient(blue 20%, #00D9FF 80%); */
  background-color: black;
  border: solid;
  padding: 1em;
  border-radius: 20px;
  border-color: white;
  max-width: 550px;
  margin: 1em auto;
}
.questionForm {
  background-color: black;
  border: solid;
  padding: 1em;
  border-radius: 20px;
  border-color: white;
  max-width: 550px;
  margin: 1em auto;
}
.controls-2 {
  font-size: 1.5em;
  color: white;
  font-family: sans-serif;
  margin: 8px;
}

.question-label {
  margin: 8px;
}

/* Answer Question Form */

#answer-question-form {
  /* background-image: linear-gradient(black 40%, white 80%); */
  background-color: black;
  border: solid;
  padding: 1em;
  border-radius: 20px;
  border-color: white;
  max-width: 600px;
  margin: 1em auto;
}
.answer {
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 1em;
  margin: auto;
  margin-top: 1em;
  max-width: 100%;
}
.answer p {
  color: white;
}
.controls-3 {
  font-size: 1.5em;
  color: white;
  font-family: sans-serif;
}

.answer-label {
  margin: 8px;
}

.faveOff {
  text-align: left;
  background-color: black;
  border: none;
  border-radius: 10px;
  padding: .5em;
  display: flex;
  align-items: center;
}

.faveOff:hover {
  cursor: pointer;
  background-color: magenta;
}

.faveOn {
  text-align: left;
  background-color: gold;
  border: none;
  border-radius: 10px;
  padding: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
}

.faveOn:hover {
  cursor: pointer;
  background-color: magenta;
}

.faveOff img {
  width: 30px;
}

.faveOn img {
  width: 30px;
}

.optionBox {
  display: grid;
  grid-template-columns: 50% 50%;
}
.options {
  display: flex;
  text-align: right;
  width: 50%;
}


.delete {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: end;
  color: red;
  margin-right: 0;
  padding: 0;
  max-width: 50px;
}

.deleteMe {
  display: flex;
  justify-content: end;
  background-color: transparent;
  border: none;
  font-size: 1em;
  padding: 0;
}

.delete:hover {
  color:#00D9FF;
  cursor: pointer;
}
/* User Profile Page  */

.userQuestion {
  background-color: white;
  max-width: 400px;
  margin: 1em;
  padding: .5em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-radius: 20px;
}
.userQuestion:hover {
  background-color: black;
  color: white;
}

.userAnswer {
  color: white;
  display: flex;
  justify-content: center;
}

.answerBox:hover {
  background-color: white;
}
.answerBox:hover h3{
  color: black;
}


.answerBox {
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 1em;
  margin: auto;
  margin-top: 1em;
  max-width: 100%;
}

.answerBox p {
  color: white;
}

.userFavorite {
  color: black;
  display: flex;
  justify-content: center;
}

.favoriteBox {
  background-color: gold;
  color: white;
  border-radius: 20px;
  padding: 1em;
  margin: auto;
  margin-top: 1em;
  max-width: 600px;
  display: flex;
  justify-content: center;
}

.favoriteBox:hover {
  background-color:#00D9FF;
  cursor: pointer;
}

.userLink {
  max-width: 400px;
  display: block;
}

.faveLink {
  max-width: 632px;
  display: block;
  margin: auto;
}

.userProfile {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

/* New User Form */
#new-user-form {
  background-image: linear-gradient(blue 20%, #00D9FF 80%);
  border: solid;
  padding: 1em;
  border-radius: 20px;
  border-color: white;
  max-width: 400px;
  margin: 1em auto;
}

.userLabel {
  width: 150px;
  display: inline-block;
  text-align: left;
}

/* Selected Answer */
.selectedAnswerBox {
  background-color: black;
  color: white;
  border: solid;
  border-radius: 20px;
  border-color: gold;
  padding: 1em;
  margin: auto;
  margin-top: 1em;
  max-width: 100%;
}

.selectedAnswerBox p {
  color: gold;
}

.selectedAnswerBox h3 {
  color: gold;
}

.selectedAnswerBox:hover {
  cursor: pointer;
}


/* Mobile Sizing */

@media screen and (max-width: 560px) {
  h1 {
    line-height: .9em;
    padding: .2em 0;
    font-size: 4em;
  }
  .nav-items {
    width: 200px;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    text-align: center;
    justify-content: center;
  }
  .nav-items a {
    display: flex;
    justify-content: center;
  }
  .nav-item {
    width: 200px;
  }
  .nav-item-login {
    width: 200px;
  }
  .askButton {
    width: 100%;
    padding: 0;
  }
  .nav-logo img{
    width: 100%;
  }
  #question-text-field {
    max-width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  #answer-text-field {
    max-width: 300px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .controls-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #answer-question-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}