/* .navbar button {
   color: white;
   text-align: center;
   padding: 10px;
   margin-bottom: 10px;
   text-decoration: none;
}
 
 
.navbar button:hover {
   background-color: rgb(235, 31, 31);
   color: rgb(0, 0, 0);
}
 
.navbar button:visited {
   text-decoration: none;
   color: black;
} */


